language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer install --dev

script:
  - vendor/bin/phpunit

after_script:
  - vendor/bin/coveralls -v
